/*
 * http://dgrieve.blogspot.com/2014/06/javafx-css-selectors-for-tableview.html
 * 
 * */
.root {
    -fx-background-color: rgb(66,66,66);
    -fx-text-fill: rgb(255,255,255);
}
/**/
.menu:hover,
.menu:focussed,
.menu:pressed,
.menu:showing {
    -fx-background-color: rgb(66,66,66);
}
/**/
.menu-bar{
	-fx-background-color: rgb(66,66,66);
}
.menu-bar .label {
    -fx-text-fill: rgb(255,255,255);
}
/**/
.context-menu {
	-fx-background-color: rgb(66,66,66);
}
.context-menu .separator .line {
	-fx-border-color: rgb(255,255,255);
	-fx-border-width: 0.1;
}
/**/
.menu-item:focused {
	-fx-background-color: rgb(216,27,96);
}
/**/
.label {
	-fx-text-fill: rgb(255,255,255);
}
/**/
.text-field {
	-fx-background-color: rgb(66,66,66);
	-fx-text-fill: rgb(255,255,255);
}
.text-input:focused {
    -fx-highlight-fill: rgba(216,27,96,0.5);
}
/**/
.button {
	-fx-background-color: rgb(66,66,66);
	-fx-text-fill: rgb(255,255,255);
}



/**/
.tab-pane,
.tab-header-area,
.tab-header-background {
    -fx-background-color: transparent;
}
.tab {
	-fx-text-fill: rgb(255,255,255);
    -fx-background-color: rgb(66,66,66);
}
.tab:selected {
    -fx-background-color: rgb(98,98,98);
}
.tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab .tab-label { 
    -fx-text-fill: rgb(255,255,255);
}
.tab:selected .tab-label {
    -fx-font-weight: bold;
}
/**/
.table-view{
   -fx-background-color: rgb(66,66,66);
   -fx-border-width: 0 0 0 0;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: rgb(98,98,98);
	-fx-border-color: rgb(255,255,255);
    -fx-border-width: 0 0.1 0 0.1;
}
.table-view .column-header .arrow {
    -fx-background-color: rgb(255,255,255);
}
.table-view .show-hide-columns-button {
    -fx-background-color: rgb(98,98,98);
}
.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(255,255,255);
}
.table-view .column-drag-header {
	-fx-background-color: rgb(216,27,96);
}
.table-view .column-drag-header .label {
	-fx-font-weight: bold;
}
.table-view > .column-overlay {
    -fx-background-color: rgba(216,27,96,0.5);
}
.table-view > .column-resize-line {
    -fx-background-color: rgb(216,27,96);
}
.table-view .show-hide-column-image {
	-fx-background-color: rgb(255,255,255);
}
.table-cell{
    -fx-text-fill: rgb(255,255,255);
}
.table-row-cell{
    -fx-background-color: rgb(66,66,66);
	-fx-table-cell-border-color: rgb(98,98,98);
}
.table-row-cell:odd{
    -fx-background-color: rgb(82,82,82);
}
.table-row-cell:selected {
    -fx-background-color: rgb(216,27,96);
}
.table-view .scroll-bar {
    -fx-background-color: rgb(66,66,66);
}
.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button {
	-fx-background-color:transparent;
}
.table-view .scroll-bar .thumb {
    -fx-background-color: rgb(98,98,98);
}


/**/
.dialog-pane:header .header-panel {
  -fx-background-color: rgb(66,66,66);
}
